.tagMore {
  background-color: lightgray;
  margin: auto;
  border: none;
  border-radius: 8px;
  height: 26px;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  flex: 1
}