@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

:root {
  --primary-color: #125692;
  --text-over-primary-color: #FFFFFF;
  --dark-primary-color: #0E263B;
  --text-color: #4D4D4D;
  --weak-text-color: #949494;
  --font-family: 'Baloo 2', sans-serif;
  --green-status: #53AC77;
  --red-status: #D84E4E;
}